<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Encuesta</title>
    <link rel="stylesheet" href="./style.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
</head>

<body>
    <form action="">
        <div class="container-form custom-radio">
            <div>
                <h1 class="display-1 fs-1">Formulario sobre experiencia</h1>
            </div>
            <div>
                <p>

                </p>
            </div>
            <div class="container-question">
                    <div class="input-group ">
                        <label for="age">
                            <span>
                                Ingrese su edad
                            </span>
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-control" type="number" name="age" required>
                    </div>
            </div>
            <div class="container-question">
                    <div class="input-group ">
                        <label for="studyLevelId">
                            <span>
                                Seleccione su nivel de estudio:
                            </span>
                        </label>
                    </div>
                    <div class="form-check">
                        <select class="form-select" type="number" name="studyLevelId" required>
                            <% for (const studyLevel of studyLevels) { %>
                                <option name="studyLevelId" value="<%= studyLevel.id %>">
                                    <%= (studyLevel.description.slice(0, 1).toUpperCase() + studyLevel.description.slice(1).toLowerCase()).split('_').join(' ') %>
                                </option>
                            <% } %>
                        </select>
                    </div>
            </div>
            <div class="container-question">
                    <div class="input-group ">
                        <label for="locationId">
                            <span>
                                Seleccione su localidad:
                            </span>
                        </label>
                    </div>
                    <div class="form-check">
                        <select class="form-select" type="number" name="locationId" required>
                            <% for (const location of locations) { %>
                                <option name="locationId" value="<%= location.id %>">
                                    <%= location.name.split(' ').map(s => s.toLowerCase()).map(s => s[0].toUpperCase() + s.slice(1)).join(' ') %>
                                </option>
                            <% } %>
                        </select>
                    </div>
            </div>
            <div class="container-question">
                    <div class="input-group ">
                        <label>
                            <span>
                                Seleccione su género: 
                            </span>
                        </label>
                    </div>
                    <% for (const gender of genders) { %>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="genderId" value="<%= gender.id %>" required>
                            <label class="form-check-label">
                                <%= gender.name.slice(0,1).toUpperCase() + gender.name.toLowerCase().slice(1) %>
                            </label>
                        </div>
                    <% } %>
            </div>
            <% for (const question of questions) { %>
                <div class="container-question survey-question">
                    <div class="input-group ">
                        <label><span>
                                <%= question.text %>
                            </span></label>
                    </div>
                    <% for (const option of question.options) { %>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="<%= question.id %>" value="<%= option.id %>" required>
                            <label class="form-check-label">
                                <%= option.description %>
                            </label>
                        </div>
                    <% } %>
                </div>
            <% } %>
            <button type="submit" class="btn btn-primary">Enviar</button>
            </div>

    </form>


    <footer>
        <div class="footer">
            2023 Contact - Politicas de seguridad - Condiciones del servicio
        </div>
    </footer>
    <script src="/js/submit.js"></script>
</body>

</html>